<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956141990178-pt5fg4i52m6e6lvvpd2k7bd9ju3lflrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956141990178-pt5fg4i52m6e6lvvpd2k7bd9ju3lflrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956141990178-vqvffbn5aqq09lae7u3msjtk0lqu1unp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC24PAs0Ix_qgC00kZ3X87Ppk6eS5dnNwM</string>
	<key>GCM_SENDER_ID</key>
	<string>956141990178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-12003</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-12003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956141990178:ios:c32b4d3b09210e6241f57b</string>
</dict>
</plist>